.project {
  height: fit-content;

  width: 100%;
  display: flex;
  padding-left: calc(1000px - 1px);
  padding-right: 11%;
  padding-top: 6%;
}

.project-list {
  height: fit-content;
  margin-top: 2%;
  display: flex;
}

.project-list-left {
  text-align: left;
  width: 70%;
}

.project-list-left h1 {
  font-size: 17px;
}
.project-list-left p {
  margin-top: 2%;
  font-size: 14px;
}
.project-list-right {
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.project-filter {
  text-align: left;
  margin-bottom: 2%;
}
.project-filter button {
  background-color: #795548;
  color: white;
  transition: all ease 0.2s;
  padding: 1%;
  cursor: pointer;
  font-weight: 600;
  border: none;
}
.project-filter button.active {
  background-color: #593f35;
}

.project-filter button:hover {
  background-color: #a57868;
}
.project-filter button.active:hover {
  background-color: #593f35;
}
.project-filter button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.project-filter button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-left-links {
  display: flex;
}

.project-left-links a {
  margin-right: 1%;
}

.list-admin {
  flex-direction: column;
  display: flex;
  margin-bottom: 10%;
  align-items: center;

  width: 100%;
}
