.home {
  min-height: 100vh;
  max-height: fit-content;
  padding-left: calc(100% - 1350px);
  padding-right: calc(100% - 1350px);
  display: flex;
}

.left-home {
  width: 33%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-home > h1 {
  margin-bottom: 4%;
  margin-top: 1%;
}
.left-home h3 {
  font-size: 18px;
}
.left-home > ul {
  margin-top: 7%;
  display: flex;
  list-style: none;

  width: 80%;
  justify-content: space-around;
}
.left-home > ul > li {
  cursor: pointer;
}
.left-home > ul > li:hover {
  transform: scale(1.05);
}
.left-home div {
  height: 40vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15%;
}
.left-home div img {
  border-radius: 50%;
}
.right-home {
  width: 67%;
  display: flex;
  text-align: left;
  padding-top: 5%;
  padding-left: 3%;
  flex-direction: column;
}
.right-home > h1 {
  font-size: 40.5px;
  margin-bottom: 2%;
}
.right-home p {
  font-size: 18px;
  line-height: 1.5em;
}
.interest {
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex: 1;
  margin-left: 1%;
}
.interest > div > h3 {
  font-size: 22.5px;
}
.interest div {
  width: 45%;
  height: 100%;
}

.interest :nth-child(2) ul {
  list-style: none;
}
.interest ul {
  margin-left: 10%;
  margin-top: 3%;
}
.interest-ul > li {
  margin-bottom: 3%;
  display: flex;
  width: 100%;
}
.interest-ul > li > span {
  margin-right: 1%;
}
.interest-lis {
  flex-direction: column;
  display: flex;
  min-width: 100%;
}
.interest-lis > p {
  font-size: 12px;
}
.up-li {
  min-width: 100%;
  margin-bottom: 1%;
}
.down-li {
  min-width: 100%;
}

.interest-left > ul > li {
  margin-bottom: 2%;
}
.home-paras {
  padding-right: 2%;
}
.right-home > p {
  font-size: 13.5px;
}

@media screen and (max-width: 950px) {
  .home {
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .right-home {
    margin-bottom: 4%;
    width: 100%;
  }
  .interest-left > ul > li {
    font-size: 12.5px;
  }
  .up-li {
    font-size: 12.5px;
  }
  .down-li {
    font-size: 12.5px;
  }
  .right-home p {
    font-size: 13.8px;
  }
  .right-home > h1 {
    font-size: 31px;
  }
  .interest > div > h3 {
    font-size: 17px;
  }
  .left-home {
    width: 100%;
    align-items: center;
  }
  .left-home h1 {
    font-size: 22px;
  }
  .left-home h3 {
    font-size: 14px;
  }
  .home-img {
    width: 50% !important;
  }
}

/* admin */
.admin-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
  margin-top: 1%;
}
.ul-interest {
  display: flex;
  flex-direction: column;
}
