.a-link {
  border-radius: 5px;
  width: fit-content;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  height: fit-content;
  background-color: transparent;
  border: 1px solid #795548;
  cursor: pointer;
  transition: all ease 0.2s;
  color: #795548;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 11px;
  margin-top: 2%;
}

.a-link:hover {
  background-color: #795548;

  color: white;
}

a svg {
  margin-right: 10%;
}
