.right-expe > div {
  width: 100%;
  display: flex;
}

.bord {
  width: 10%;

  display: flex;
  flex-direction: column;
  flex: 1 1 1;
  align-items: center;
}

.dot {
  height: 25px;
  width: 25px;
  border: 1px solid #795548;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}
.dot.active {
  background-color: #795548;
}

.trait {
  flex: 1;

  display: flex;
  width: 100%;
}

.trait div {
  width: 50%;
}
.trait.trait-bord :nth-child(1) {
  border-right: 0.2px solid #795548;
}
.trait.trait-bord :nth-child(2) {
  border-left: 0.2px solid #795548;
}
.detail-expe {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: fit-content;
}
.card-expe {
  border: 1px solid;
  height: fit-content;
  width: 90%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.2s ease-out;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 2%;
}
.card-expe > h1 {
  text-align: left;
  margin-top: 2%;
  font-weight: 900;
  margin-left: 1%;
  font-size: 17px;
}
.card-expe > a {
  width: fit-content;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 17px;

  font-weight: 400;
  color: #795548;
  text-decoration: none;
}
.card-expe > h5 {
  text-align: left;
  margin-top: 1%;
  font-weight: 700;
  font-size: 14px;
  margin-left: 1%;
  margin-bottom: 1%;
}
.card-expe > a:hover {
  text-decoration: underline;
}
.card-expe:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-expe > ul {
  list-style-position: inside;
  margin-left: 5%;
  font-size: 14px;
}

.card-expe > ul > li {
  text-align: start;
  margin-bottom: 1%;
}
.card-expe > ul > li > span {
  font-weight: 700;
}

.card-expe > ul > li > ul {
  margin-left: 5%;
  margin-top: 1.3%;
}

.card-expe > ul > li > ul > li {
  margin-bottom: 1%;
}

.admin-expe {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

@media screen and (max-width: 950px) {
  .left-expe > h1 {
    font-size: 31px !important;
  }
  .card-expe > h1 {
    font-size: 12.5px;
  }
  .card-expe > a {
    font-size: 12.5px;
  }
  .card-expe > h5 {
    font-size: 11px;
  }
  .card-expe > ul > li {
    font-size: 11px;
  }
}

@media screen and (max-width: 580px) {
  .bord {
    display: none;
  }
}

.experience-left-links {
  display: flex;
  margin-left: 4%;
}

.experience-left-links a {
  margin-right: 1%;
}
