.skills {
  height: fit-content;
  padding-left: calc(100% - 1200px);
  padding-right: calc(100% - 1200px);
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}

.skills > h1 {
  margin-bottom: 2%;
}
.skills-elements {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.skill {
  height: 10vh;
  margin-top: 1%;
  margin-bottom: 3%;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
}

.skill > p {
  margin-top: 2%;
  font-size: 14px;
}
.skill > h2 {
  font-size: 22px;
}
